## Let's Begin

### Question: 1            (2 Marks)                                                                                                                                                  

Install the required libraries for the assignment

In [121]:
import numpy as np
import pandas as pd

Check the version of Libraries

In [122]:
print('The version of Numpy is : ' ,np.__version__)
print('The version of Pandas is ' ,pd.__version__)

The version of Numpy is :  1.23.5
The version of Pandas is  1.5.3

Upgrade the Libraries

In [140]:
!pip install --upgrade numpy
!pip install --upgrade pandas

Requirement already satisfied: numpy in /Users/virensasalu/Documents/coding/anaconda3/lib/python3.10/site-packages (1.25.2)
Requirement already satisfied: pandas in /Users/virensasalu/Documents/coding/anaconda3/lib/python3.10/site-packages (2.1.0)
Requirement already satisfied: numpy>=1.22.4 in /Users/virensasalu/Documents/coding/anaconda3/lib/python3.10/site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/virensasalu/Documents/coding/anaconda3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/virensasalu/Documents/coding/anaconda3/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in /Users/virensasalu/Documents/coding/anaconda3/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/virensasalu/Documents/coding/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Check The latest version after upgrading library

In [143]:
import numpy as np
import pandas as pd

print('The version of Numpy is : ' ,np.__version__)
print('The version of Pandas is ' ,pd.__version__)
print('Installing updates')

!pip install --upgrade numpy
!pip install --upgrade pandas
print('The Latest version of Numpy is : ' ,np.__version__)
print('The Latest version of Pandas is ' ,pd.__version__)

The version of Numpy is :  1.23.5
The version of Pandas is  1.5.3
Installing updates
Requirement already satisfied: numpy in /Users/virensasalu/Documents/coding/anaconda3/lib/python3.10/site-packages (1.25.2)
Requirement already satisfied: pandas in /Users/virensasalu/Documents/coding/anaconda3/lib/python3.10/site-packages (2.1.0)
Requirement already satisfied: numpy>=1.22.4 in /Users/virensasalu/Documents/coding/anaconda3/lib/python3.10/site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/virensasalu/Documents/coding/anaconda3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/virensasalu/Documents/coding/anaconda3/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in /Users/virensasalu/Documents/coding/anaconda3/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/virensasalu/Documents/coding/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
The Latest version of Numpy is :  1.23.5
The Latest version of Pandas is  1.5.3

### Question: 2 (2 marks)

- Fill in the missing code. 
- Store the data in to a variable, then display the top 5 and bottom 5 rows of records andÂ check the dataset's shape.

Load the dataframe and store it into the variable

In [125]:
df = pd.read_csv('/Users/virensasalu/Documents/on this macbook/The University of Arizona/Course Work/Data Mining and Discovery/Assignments/download.csv')

Display the Top 5 records

In [126]:
df.head(5)

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

Display the last 5 records

In [127]:
df.tail(5)

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
4473,4907,Connor Betts,2019-08-04,shot,gun,24.0,M,W,Dayton,OH,True,attack,Not fleeing,False
4474,4909,Robert Clay Wilsford Jr.,2019-08-04,shot,gun,65.0,M,NaN,Hanceville,AL,True,attack,Not fleeing,False
4475,4910,TK TK,2019-08-05,shot,undetermined,NaN,NaN,NaN,Salt Lake City,UT,False,undetermined,Not fleeing,True
4476,4914,James Kirkwood,2019-08-05,shot,knife,49.0,M,B,Memphis,TN,False,attack,Foot,False
4477,4916,Marvin Alexis Urbina,2019-08-05,shot,vehicle,19.0,M,H,Bakersfield,CA,False,other,Car,False

Todo: Code to fill

In [128]:
df = pd.read_csv('/Users/virensasalu/Documents/on this macbook/The University of Arizona/Course Work/Data Mining and Discovery/Assignments/download.csv')
print(df.head(5))
print(df.tail(5))

   id                name        date   manner_of_death       armed   age  \
0   3          Tim Elliot  2015-01-02              shot         gun  53.0
1   4    Lewis Lee Lembke  2015-01-02              shot         gun  47.0
2   5  John Paul Quintero  2015-01-03  shot and Tasered     unarmed  23.0
3   8     Matthew Hoffman  2015-01-04              shot  toy weapon  32.0
4   9   Michael Rodriguez  2015-01-04              shot    nail gun  39.0

  gender race           city state  signs_of_mental_illness threat_level  \
0      M    A        Shelton    WA                     True       attack
1      M    W          Aloha    OR                    False       attack
2      M    H        Wichita    KS                    False        other
3      M    W  San Francisco    CA                     True       attack
4      M    H          Evans    CO                    False       attack

          flee  body_camera
0  Not fleeing        False
1  Not fleeing        False
2  Not fleeing        False
3  Not fleeing        False
4  Not fleeing        False
        id                      name        date manner_of_death  \
4473  4907              Connor Betts  2019-08-04            shot
4474  4909  Robert Clay Wilsford Jr.  2019-08-04            shot
4475  4910                     TK TK  2019-08-05            shot
4476  4914            James Kirkwood  2019-08-05            shot
4477  4916      Marvin Alexis Urbina  2019-08-05            shot

             armed   age gender race            city state  \
4473           gun  24.0      M    W          Dayton    OH
4474           gun  65.0      M  NaN      Hanceville    AL
4475  undetermined   NaN    NaN  NaN  Salt Lake City    UT
4476         knife  49.0      M    B         Memphis    TN
4477       vehicle  19.0      M    H     Bakersfield    CA

      signs_of_mental_illness  threat_level         flee  body_camera
4473                     True        attack  Not fleeing        False
4474                     True        attack  Not fleeing        False
4475                    False  undetermined  Not fleeing         True
4476                    False        attack         Foot        False
4477                    False         other          Car        False

In [129]:
# Check the shape of the datset
print("No of columns: ",df.shape[1])
print("No of rows: ",df.shape[0])

No of columns:  14
No of rows:  4478

### Question: 3 (2 marks)
Caluculate the statistical metrics of a column in a dataset

Calculate the standard devaition?

In [130]:
StandardDevaitionAge =  df['age'].std()
print('The Standard Devaition of the Age Column is :', StandardDevaitionAge)

The Standard Devaition of the Age Column is : 13.067598403906874

Average age of a victim?

In [131]:
AverageAge = df['age'].mean()
print('The Average Age of the Victims is : ' ,AverageAge)

The Average Age of the Victims is :  36.87932234857276

 Which city records the most Kill Events by police?

In [132]:
MostKilledCity = df['city'].value_counts().idxmax()
print('The city which records the most Kill Events by police is : ',MostKilledCity)

The city which records the most Kill Events by police is :  Phoenix

### Question: 4 (2 marks)
Create a new  " age categories " column using age column of a dataset

In [133]:
'''Hint: if age is between 0 to 12, then categorise as child. 
13-21 as Teenage, 22-34 as Youth, 35-50 as Adult, 51-120 as Senior citizens'''

def categorize_age(age):
    if age <= 12:
        return "Child"
    elif age <= 21:
        return "Teenage"
    elif age <= 34:
        return "Youth"
    elif age <= 50:
        return "Adult"
    else:
        return "Senior Citizen"

df['age categories'] = df['age'].apply(categorize_age)

Display the first 5 records after creating the column

In [134]:
def categorize_age(age):
    if age <= 12:
        return "Child"
    elif age <= 21:
        return "Teenage"
    elif age <= 34:
        return "Youth"
    elif age <= 50:
        return "Adult"
    else:
        return "Senior Citizen"

df['age categories'] = df['age'].apply(categorize_age)

In [135]:
df.head(5)

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,age categories
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,Senior Citizen
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,Adult
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,Youth
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,Youth
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,Adult

### Question: 5 (2 marks)
Find the state which records the most kill events by police and display the type of attacks done on the male senior citizen of that state.

Which State records the most Kill Events by police?

In [136]:
MostKilledState = df['state'].value_counts().idxmax()
print('The state with most kill recoreds is :',MostKilledState)

The state with most kill recoreds is : CA

What kinds of attacks (armed) are most affected by the male senior citizens in the state of 'CA'

In [137]:
result = df[(df['age categories'] == 'Senior Citizen') & (df['gender'] == 'M') & (df['state'] == 'CA')]['armed'].unique()

#print("The kind of attacks (armed) affected by the male senior citizens in the state of 'CA' is : ",result)
#print()

Extract distinct attack types from the filtered data

In [138]:
FileterResult = df[(df['age categories'] == 'Senior Citizen') &  (df['state'] == 'CA')]['armed'].unique()
distinctAttacks = FileterResult
print('Distinct types of attcaks are : ', '\n' , distinctAttacks)

Distinct types of attcaks are :
 ['gun' 'toy weapon' 'knife' 'undetermined' 'box cutter' nan
 'unknown weapon' 'pipe' 'unarmed' 'blunt object' 'pitchfork' 'metal pipe'
 'ax' 'metal object' 'gun and knife' 'vehicle']

Save the processed data to use for Week2 assignment

In [139]:
df.to_csv("week_1_assignment_output.csv",index=False)

## Thank you!